body {
    font-family: 'Poppins', Arial, sans-serif; /* Consistent font throughout the page */
    background-color: black; /* Light grey background for better readability */
}


header {
    background-color: black; 
    color: white;
    padding: 10px 0; 
}

.navbar-brand {
    font-weight: bold; 
    font-size: 1.5rem; 
    color: white;
}

.navbar-item nav-link {
    color: white;
}

main.container {
    margin-top: 5rem; 
    padding-bottom: 2rem;
}

#about {
    background-color: white; 
    border: 5px solid black; 
    border-radius: 10px; 
    padding: 20px; 
}

#about h2 {
    background-color: black;
    color: white; 
    padding: 10px 0;
    margin-top: -20px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

#about img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}


#projects {
    color: white; 
}

#projects h2, #projects h3 {
    padding: 20px 0;
}


#contact {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
}

.form-container {
    background-color: #e9ecef; 
    padding: 20px;
    border-radius: 8px; 
}


footer {
    background-color: black; 
    color: white; 
    padding: 10px 0; 
    text-align: center; 
}


@media (min-width: 768px) {
    .navbar-nav {
        
    }
}
